{% extends 'base.html' %}

{% block page_title %}
 Artikel 
 {% endblock page_title %} 
 {% block contents %}
 

<div class="row">
  <div class="col-md-8">
    <h2>Kategori: {{kategori}}</h2>


          {% if is_paginated %}
      <nav aria-label="artikelpage">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'artikel:list'  page_obj.previous_page_number %}">Previous</a>
          </li>

          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {% endif %} {% for page in paginator.page_range %} {% if page is page_obj.number %}
          <li class="page-item active" aria-current="page">
            <span class="page-link" href="#">{{page}}<span class="sr-only">(current)</span></span>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="{% url 'artikel:list' page %}">{{page}}</a></li>
          {% endif %} {% endfor %} {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'artikel:list'  page_obj.next_page_number %}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>

      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        {% endif %} {% for artikel in artikel_list %}

        <h3><a class="text-dark" href="{% url 'artikel:detail' artikel.slug %}">{{artikel.judul}}</a></h3>
        <p>Kategori: {{artikel.kategori}} | {{artikel.published}}</p>

        <p>{{artikel.isi|truncatewords:10}} <a href="{% url 'artikel:detail' artikel.slug %}"> selengkapnya</a></p>

        {% endfor %}
  </div>
  <div class="col-sm">
    <h3>Kategori lainnya</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{% url 'artikel:list' 1 %}">Semua Kategori</a></li>
      {% for kategori in kategori_list  %}
      <li class="list-group-item"><a href="{% url 'artikel:category' kategori %}">{{kategori}}</a></li>


      
     
    </ul>
  </div>




</div>

{% endblock contents %}
</li>
